<h1>We played paper!</h1>
<h1>They played <%=@move%>!</h1>
<% if @move == "rock" %>
  <h1>We won!</h1>
<% elsif @move == "paper" %>
  <h1>We tied!</h1>
<% else %>
  <h1>We lost!</h1>
<% end %>

<div>
  <a href= "https://laughing-cod-wx6jgpwxpgpcvgj6-3000.app.github.dev/">Rules</a>
</div>
